[2018-02-21 20:42] frankdejonge opened #6 "Allow AggregateRootId to have a custom type in code generation."
Input:

[code]

Expected output:

[code]

[2018-02-24 13:01] frankdejonge opened #8 "[Discussion] Commands could be serialisable like events are."
👍 / 👎

[2018-02-24 13:27] frankdejonge opened #10 "Move dispatching delegation to the AggregateRootRepository"

[2018-02-24 20:40] frankdejonge commented on #6
This is no longer relevant because events no longer have aggregate root ID's.

[2018-02-24 20:40] #6 closed

[2018-02-25 09:43] frankdejonge commented on #10
This is done.

[2018-02-25 09:43] #10 closed

[2018-02-25 16:38] frankdejonge opened #12 "Create Laravel Package"

[2018-02-25 16:39] frankdejonge opened #13 "Create Symfony Bundle"

[2018-02-25 16:39] frankdejonge opened #14 "Create example project"

[2018-03-13 14:44] frankdejonge opened #19 "Move timeOfRecording to headers."
In order to have the most minimal event interface we could move the timeOfRecording (PointInTime) to the headers. The default header message decorator would then account for filling in the default. Because the PointInTime is microsecond precise we'd still have the sequential integrity (when needed by the repository).

Thoughts?

[Additional Thoughts]

This also makes it more natural to use domain

[2018-03-13 15:03] marijn commented on #19
Makes total sense. Other libraries do this as well as far as I know.

[2018-03-13 15:03] marijn commented on #19
I do think it makes sense to provide some tooling by default

[2018-03-13 15:04] marijn commented on #8
Why not? I do this often to create a command log which can also be interesting for doing some command sourcing for testing.

[2018-03-13 15:07] frankdejonge commented on #8
If we have non-destructive code-gen, people can do this for themselves. Initially the idea was deferred command handling, which I then realized was the worst thing ever. But it does make sense from a logging perspective. But the fact that we don't have a command interface is beneficial because it doesn't conflict with anything either.

[2018-03-13 15:09] frankdejonge commented on #19
I'd still add it in the default header set, we'd also keep the clocks and point in time objects for internal usage, and expose it in the test tooling.

[2018-03-13 19:31] #19 closed

[2018-03-14 16:08] frankdejonge commented on #8
Perhaps having a default implementation of JsonSerializable would be good?

[2018-03-16 16:41] driesvints commented on #12
I could be of help here as I'm about to start working on a new Laravel app which I hoped to build with event sourcing. So this might be an ideal opportunity to test drive your package and create a Laravel library.

[2018-03-18 14:45] frankdejonge opened #27 "[Proposal] Remove Event interface"
## Proposal

The `Event` interface is only used for serialization and "intentional" hinting. If we remove the event interface. Since we already have a `MessageSerializer` the construction could become an implementation detail for the rest of the library. This means if people don't want to be tied to the library, they won't have to be. The `AggregateRootRepository` and `AggregateRoot` interface the

[2018-03-19 09:58] frankdejonge opened #28 "[Proposal] Facilitate custom reconstitution strategies."
If #27 is completed we've one step away from allowing full decoupling from the library. If the AggregateRootRepository receives a `AggregateRootFactory` it could become unaware of how aggregate roots are reconstituted. This allows people to create their own hydration strategies. This allows them to wrap their own aggregate root in the library specific aggregate root, thereby allowing decoupling fr

[2018-03-23 09:26] #28 closed

[2018-03-23 09:26] frankdejonge opened #36 "[Pre-release] Update documentation"

[2018-03-23 15:05] #36 closed

[2018-03-26 21:08] developernaren opened #38 "Installation Failed"
I just followed the command in [installation guide](https://eventsauce.io/docs/installation) but I get this error

![image](https://user-images.githubusercontent.com/3628468/37932976-9af40906-3169-11e8-9108-6ae9a8a17cca.png)

I just started with

`$ composer init` and ran the rest of the command. Are there other steps that I need to do? Also this is the content of my compose.json
[code]

I even ch

[2018-03-28 06:45] frankdejonge commented on #38
Hi @developernaren I recommend going with 0.3.0 as the minimum requirement. This is the latest version.

[2018-03-28 14:06] frankdejonge commented on #38
Btw, you don't need the minimum stability of dev.

[2018-03-28 14:59] developernaren commented on #38
Thanks worked with 0.3.0

[2018-03-28 14:59] #38 closed

[2018-03-28 14:59] frankdejonge commented on #38
👍

[2018-03-29 07:20] dmecke commented on #8
Why is deferred command handling so bad? I rely heavily on it and it causes no problems so far, but now I am a bit worried.

[2018-03-29 07:29] frankdejonge commented on #8
@dmecke "the worst thing ever" is a bit of an over statement. But in general deferred command handling doesn't reflect what's actually going on. Actions should always happen when dispatched and events can be handled later. This means we can more accurately model what's going on when we dispatch the command, which only results in an event that this was initiated/requested. The actual processing of

[2018-03-29 07:57] dmecke commented on #8
Thank you very much for the explanation!

[2018-03-30 06:23] frankdejonge opened #39 "[Discussion] Aggregate-less Modelling"
For a project I'm working on I had the need to use event-based modelling but had no need for an aggregate root. In this specific case used both the MessageDispatcher and MessageRepository implementations and created my own base test case. For this a "classic" event store might be a good encapsulation. But it leaves open a few cases to discuss.

1. What are the responsibilities for the event store?

[2018-04-09 09:37] dilab opened #40 "Create CakePHP Plugin"

[2018-04-18 01:35] dilab commented on #12
@frankdejonge Do you want it to be in a separate repository?

[2018-04-20 04:55] dilab commented on #12
I am working on a Laravel Package here:

https://github.com/dilab/EventSauceLaravel

[2018-04-24 01:53] dilab commented on #12
This package is done. Feel free to provide feedback etc.
Thanks

[2018-04-24 08:08] driesvints commented on #12
@dilab hey dilab. I'm going to see if I can try it out in a couple of weeks. Perhaps sooner. Thanks for the effort! :)

[2018-04-29 11:31] ElSuperbeano opened #43 "MessageSerializer::unserializePayload() should return Message"
Hello, the current definition of MessageSerializer looks like this:

[code]

When it is used outside the MessageRepository it needs to be wrapped with `iterator_to_array($serializer->unserializePayload($payload))[0]` or call `$serializer->unserializePayload($payload)->current()`. In my opinion the signature should be `unserializePayload(array $payload): Message;`, since it is returning only one me

[2018-04-29 18:33] frankdejonge commented on #43
Hi @ElSuperbeano,

The reason for using a generator here actually has to do with the possibility for upcasting during serialization. When using generators a reduction AND an expansion of the number of events can be achieved. This makes many of the difficult cases of upcasting possible without any significant downsides. I hope this explains this design decision.

[2018-05-15 09:55] #43 closed

[2018-05-30 20:15] elstamey commented on #14
If I wanted to work on this, could I ping people when/if I get stuck?  If I do are there any specific requirements that aren't listed here?

[2018-05-30 20:48] frankdejonge commented on #14
@elstamey Hi! Thanks for stopping by. I've got a small example project on my personal repository. But your help on this would be greatly appreciated. The example project should probably have just one aggregate root, use (mocked) services to show how interaction with the outside world works (often a point of confusion for newcomers), at least one read-model and one process manager. In terms of what

[2018-05-31 17:49] elstamey commented on #14
Thanks!  It's going to take a little while for me to get started, but I'll check back when I do.

[2018-07-12 03:39] dilab commented on #12
@frankdejonge it is not yet added to the site for people to use?

[2018-07-20 19:36] marein opened #46 "Lack of consistency"
Firstly I have to say that this is my first issue on GitHub that describes an error. Please don't be offended :). I wanted to use this library in my sample project but after digging into the code, I decided against it. I really like its api, so I can wait until this issue is closed.

This library only wraps messages in a transaction. While this is fine if you don't want immediately consistent read

[2018-07-20 21:45] frankdejonge commented on #46
Please don't be offended :) but the problem you describe it correct but your conclusion it wrong. With making such a big claim, your tone is *very* condescending. The design of this library allows you to customise the storing and dispatching of events, it even allows for EXACTLY the setup you describe. One would simply implement only message repository with this behaviour and ignore the dispatchin

[2018-07-20 21:45] #46 closed

[2018-10-30 10:28] nikolaposa opened #47 "Q: How does EventSauce handle concurrency issues?"
I can see that there is a concept of a Aggregate Root version, but I'm not sure if it is used for preventing concurrency issues, i.e. two or more events occurring at the same time? Actually I'm not sure what is its purpose. Other solutions such as Prooph use unique key constraints, something like: ```UNIQUE KEY `ix_unique_event` (`aggregate_type`, `aggregate_id`, `aggregate_version`)```. Other lan

[2018-10-30 10:48] frankdejonge commented on #47
Hi @nikolaposa,

The event version guard can be implemented in the message repository, if needed. This is the first place that hits any persistence. So a unique constraint like you describe would work. The idea of EventSauce is that the interfaces are small and functionality like this can easily be added by a user of the library. The expected version method can also be achieved. But this is better

[2018-10-30 11:00] nikolaposa commented on #47
@frankdejonge That makes sense, I really like how things were designed with the flexibility and unobtrusiveness in mind - no need to extend from a base class for Event classes for example, but only implement serialization strategy. 👍 It would be great if you could include more examples that relate to persistence in the docs of this and other projects as well (DoctrineMessageRepository
). Feel free

[2018-10-30 11:39] nikolaposa commented on #47
I'm relatively new to ES and I'm starting a project where the pattern is a perfect fit. My plan is to avoid coupling of my domain elements to a specific framework, but still be able to take advantage from it for infrastructure and other parts - event store, event bus, consumers (projectors). EventSauce pretty much meets my criteria.

[2018-11-04 09:51] #39 closed

[2018-11-14 13:08] Harrisonbro commented on #47
First off, thanks for this package — it's great!

Am I right in thinking that the code at [`ConstructingAggregateRootRepository.php:78`](https://github.com/EventSaucePHP/EventSauce/blob/master/src/ConstructingAggregateRootRepository.php#L78) means that my database would reject the insertion of events with duplicate aggregate root versions if I implemented the unique key constraints that @nikolapos

[2018-11-14 13:13] frankdejonge commented on #47
@Harrisonbro that's correct. Preventing events from being stored is not the only option. The events are merely a recording of what has happened. You could also keep a consistent projection which keeps track of the current version of the aggregate root, and at time of fulfilling the request you could see if the payload contains the expected version before even starting to do anything. Besides that,

[2018-12-20 18:59] psren opened #48 "No messages for "aggregate_root_id" returns empty object."
Hey there, I'm quite sure this is intentional and I'm aware that I can easily swap out the class.
But I'd love to understand it.

If I `retrieve` an UUID in `ConstructingAggregateRootRepository` and there are no messages for it I'm getting an empty object.
(Correct type, but with no messages applied)

I'd expect a `AggregateRootNotFound`-Exception or something like this.
Why do you return an empty

[2018-12-20 19:39] frankdejonge commented on #48
Ok so, this is indeed intentional. I considered a number of situation where you'd want to interact with the aggregate root and what kind of operation you'd be executing on the aggregate root. In general there's going to be two scenario's:

1. You need to operate on an existing aggregate root.
2. You want to create a new aggregate root.

So in both cases you want to end up with an aggregate root in

[2019-01-20 11:15] freekmurze opened #52 "Make AggregateRootTestCase methods more reusable"
Right now `AggregateRootTestCase` contains methods to test interactions with AggregateRoots. The way to use this let a testclass extend `AggregateRootTestCase`.

Laravel apps have their own root TestCase with lots of methods to test the app. It would be nice if you we could use all methods in `AggregateRootTestCase` while still using the default Laravel TestCase.

On first though this could be mad

[2019-01-20 12:09] freekmurze commented on #52
@frankdejonge That works too indeed. But by only putting on `CreatesApplication` you'd still miss the other methods provided by the `InteractsWithContainer`, `InteractsWithConsole`, `InteractsWithDatabase`, `MocksApplicationServices` traits and so on.

If the current `AggregateRootTestCase` would be refactored so all methods are in a trait you could choose the style you want.  Want to extend `Aggr

[2019-01-20 12:13] frankdejonge commented on #52
Doesn't laravel provide a single trait to combine those all? Extracting the behaviour from our base class is not trivial because of all the methods used from its base class provided by PHPUnit, which then all need to be added as abstract ones, through which it'd be very hard to detect when things are changing. I agree it'll be less of a hassle for the laravel package, but it'd be much more of a ha

[2019-01-20 12:14] frankdejonge commented on #52
Even just using all of the traits from the laravel one would be trivial to setup right?

[2019-01-20 12:19] freekmurze commented on #52
Didn't think too much about that problem, I was focused on making it as easy as possible for the users of the Laravel package.

That's true

Thanks for your input here! 👍

[2019-01-20 12:19] #52 closed

[2019-01-25 23:18] psren commented on #48
Hey, thanks for your detailed answer.
You're intention is clear now 😘

[2019-01-25 23:18] #48 closed

[2019-05-08 06:29] christian-kolb commented on #14
@frankdejonge First of all, thanks a lot for the library. I just started yesterday and stumbled over this issue and then searched for the example project in your repository you mentioned. It was a huge help (especially because I never implemented Event Sourcing before). It contains a lot including the message queue part I didn't need, but I could pull out all information to get the first setup run

[2019-06-10 09:54] hslatman commented on #13
I just came across https://github.com/jphooiveld/EventSauceBundle. Haven't tried it in practice yet, though.

[2019-07-03 15:54] erikgaal opened #53 "Testing with multiple AggregateRoot"
Hi all,

I'm working on a project and I'm bumping into the following issue.

First some background information; there exist some entities and relations seen in Figure 1. `Events` are the "governing" entity where currently a lot of logic is situated. First `Categories` are created within an `Event`. Then `Persons` can be added to `Events` with a chosen `Category`. We wish to separate our business r

[2019-07-04 07:37] frankdejonge commented on #53
So the first one seems relatively straight forward to resolve from what I can see here. The CategoryCreated event should have a categoryId, so you test it like this:

[code]

The trick for this to always have deterministic identifiers. Your command to create the category should contain the ID to create it and the corresponding event should have to ID for future reference. For the other case, you'v

[2019-07-04 08:15] erikgaal commented on #53
The first one makes sense that way.

On the last one; I've discussed it with my team too, that it makes sense to be able to test each aggregate in isolation. However, due to invariants being as much as across the entire domain, we were confused with how to split up the aggregates and how to test these.

Thank you for you quick response @frankdejonge, we'll explore this and report back with our sol

[2019-08-08 20:12] frankdejonge commented on #53
Closing this for inactivity, can be re-opened later if needed.

[2019-08-08 20:13] #53 closed

[2019-08-26 17:47] mdwheele opened #57 "What does the project need? I want to contribute."
Hey @frankdejonge!

First, I feel the need to say that "pragmatic event sourcing for PHP" is the **PERFECT** description of what 0.6 has achieved so far. I've worked with Prooph, Broadway and implemented my own ES stack 3 or 4 times after coming to feel that every one of them will be different and "building a ES framework is *impossible*!". I believe you have struck the best balance in small, focu

[2019-08-26 21:45] frankdejonge commented on #57
Hi @mdwheele! First of all, this is one of the best issues I've received on GitHub! Thank you for this. Any example repositories would be great. I had the idea to scratch an itch by creating one to propose and register ADR's. But it might be a bit too simple. Of course the classic work well too, as you proposed.

[2019-08-27 13:41] arendjantetteroo commented on #57
We are also very happy with eventsauce.

One thing we "copied" from broadway was their concept of entities inside the root aggregate, where the apply's are cascaded down to the entities. I'm wondering if this is something you would like to include / what are your thoughts on this or if you would tackle this problem differently.

https://github.com/broadway/broadway/tree/master/examples/event-sourc

[2019-09-07 13:58] frankdejonge commented on #57
@arendjantetteroo have you got an example of this or an extraction of this on GitHub somewhere? Would love to see in which way you solved this, I've got some ideas but always good to see what somebody who already has it in place has come up with.

[2019-09-09 09:09] arendjantetteroo commented on #57
@frankdejonge i will try to get something up end of the week.

[2019-09-18 10:09] asgrim opened #58 "Retrieving an aggregate root with an invalid ID causes no error"
Here's an interesting question, perhaps an edge case. When using the `\EventSauce\EventSourcing\ConstructingAggregateRootRepository::retrieve` method with an `AggregateRootId` that does not actually exist (i.e. has no events) does not result in an error at all: it merely creates an instance of the `AggregateRoot` with no events.

I imagine a simple check in `\EventSauce\EventSourcing\AggregateRoot

[2019-09-18 10:51] frankdejonge commented on #58
Hi @asgrim :)

I've dealt with this issue before and have used a couple approaches in past designs. For me this issue came down to: at what level do we need to ensure "things have happened". There's a couple things that need to be guarded, I generally split those into two categories:

- Guarding against preconditions (things need to happen prior to this action)
- Guarding against invariants (thing

[2019-09-18 11:04] asgrim commented on #58
Hmm, perhaps I wasn't clear.

What I mean is, should it be possible to "reconstituteFromEvents" when there are no events? Can an aggregate root even *exist* if there are no events? I think the answer to both is "no".

Example, a URL such as `/hotel/royal-hotel/check-in-guest?guestId=tom.clancy` is called (I've used descriptive names instead of UUIDs). However, the hotel `royal-hotel` doesn't have

[2019-09-18 11:28] frankdejonge commented on #58
I understand your point, so perhaps I was the one who didn't express themselves clearly.

From a theoretical point you could say that reconstituting from N events where N is zero is not different from a case where N is 1 or higher. It's just building a model from 0 events. When you're acting with the model a rule like "the hotel should exist" should be enforced. I believe this should be enforced i

[2019-09-18 11:32] Ocramius commented on #58
Only question here is: is it a responsibility of the aggregate or the repository to check that?

Not really: in event sourcing, all state is events, and no events imply no state. There must be some sort of "beginning of history" or similar, at least.

[2019-09-18 11:33] asgrim commented on #58
Hmm, gonna disagree on this point. The whole concept of event-sourcing is that the events are the source of truth. If there is no events for an aggregate, then it cannot exist, you can't build a model from zero events, because by nature of the fact there are zero events, there is no source of truth, and no validation that the aggregate exists (I'd argue, it doesn't exist, until at least one event

[2019-09-18 11:34] frankdejonge commented on #58
You act on a model, that is fed by history, having no history is fine if nothing has happened.

[2019-09-18 11:40] Ocramius commented on #58
Existence would be implied by having at least something in its history. No history => no existence.

This is why aggregate ctors (not re-ctors) do record events too

[2019-09-18 11:45] frankdejonge commented on #58
You're free to do so. I just don't agree with the stance that this is in any shape or form a security issue with the library. I also don't think the way you two describe this is the only way to do this. I don't agree with how you've interpreted the theory and as a result I don't have the same implications.

I model interactions, processes, using events. Having an instance as the placeholder for th

[2019-09-18 11:54] asgrim commented on #58
Just to be clear, I didn't intend to say this is a security issue with the library (I said "whether on EventSauce's part, or the application's side, doesn't matter really"), and misses the focus of the issue I'm trying to raise. I'll happily retract any security concerns :grin:

I do have a further question then, how would you validate that an aggregate root identifier is indeed valid, if there ar

[2019-09-18 11:56] Ocramius commented on #58
An aggregate root is a boundary that keeps state (that it aggregates) consistent. It is primarily an abstraction around state, because of how we're used to work on state in OOP-ish systems.

It is very much possible to model interactions without the aggregate root, and as `action :: [Event] -> Parameters -> [Event]`, but the primary role of the object abstraction is indeed to prevent inconsistent

[2019-09-18 12:00] frankdejonge commented on #58
[code]

[2019-09-18 12:03] Ocramius commented on #58
@frankdejonge that seems to be deceiving design: while aggregates do indeed throw exceptions on impossible state transitions, existence is fulfilled by the fact that the `object` instance exists.

[2019-09-18 12:08] frankdejonge commented on #58
This is not an ORM. The rules for ORM's do not apply. It really feels like you just want to be right here, not try to see my point. So then I'm done. I've told you before, you can alter this behaviour if it doesn't make sense to you. That's why the important parts are interfaces and not the implementation, that's why every part of this is replaceable, because not every situation is the same and th

[2019-09-18 12:11] #58 closed

[2019-09-18 12:13] Ocramius commented on #58
It doesn't matter if it's an ORM or not: if an `object` exists (at its memory location, in a process), calling API on it shouldn't report "I do not exist", and that's the very core of the issue.

Re-constructing an aggregate without history should not be possible in general, since the aggregate would already miss its core requirement of identity.

[2019-09-18 12:18] frankdejonge commented on #58
@Ocramius you can do that, as I explained above several times.

[2019-09-18 12:25] frankdejonge commented on #58
You're modelling interaction with a thing, I'm modelling human interactions with a system, which is always there. It's a matter of perspective. I see you have a different one and have told you that you can achieve this behaviour by replacing the reconstitution method. When you continue to re-iterate the same arguments over and over it gives me the impression you don't want to discuss, you just wan

[2019-09-18 12:33] Ocramius commented on #58
I just don't see the hotel example as a valid one: what's an example of an aggregate without a creation event?

Besides the concept of time itself, everything that I can think of always has a process "start", even if the start is a first change in state.

[2019-09-18 12:35] frankdejonge commented on #58
For example: I'm interacting with a system that manages checkins for hotels. And I'll just keep repeating myself: you can do this in the current design, just overwrite the reconstitution behaviour.

[2019-09-18 12:42] Ocramius commented on #58
Well, a hotel needs to have been built, or installed, or registered with the current system.

What @asgrim meant in the OP is that in fact you can look up a hotel by a non-existing identifier, retrieve it, and operate on it without hitting any invariant of existence, and that's a bug that you have out of the box, according to https://github.com/EventSaucePHP/EventSauce/blob/322ca8710deaa99f2f28a47

[2019-09-18 12:45] frankdejonge commented on #58
Just because you don't agree with it, doesn't make it a bug. Let me ask you, are you capable of ensuring the guarantees you want in the current design of the library, or are you not?

[2019-09-18 12:52] Ocramius commented on #58
I'm perfectly capable of re-implementing any component of any upstream library myself, if that's what you ask: doesn't mean that the bug isn't there.

For the grand majority of use-cases, starting from even the most trivial ones (for example: people to whom I teach event sourcing), the concept of existence is intuitively easy and equates to "there are event". Operating on an empty aggregate becaus

[2019-09-24 13:35] #8 closed

[2019-10-04 12:24] frankdejonge opened #67 "Documentation for Hacktoberfest"
Hacktoberfest is upon us. In order to make Hacktoberfest a positive experience for everybody, this issue describes what kind of PR's are welcomed with open arms.

Documentation has always been one of the things I've focused on, however, it's always something that can be improved upon. This is especially true for documentation contributions. Did you wish something was covered more (or at all) in th

[2019-10-04 15:32] christian-kolb commented on #67
Do I understand this issue correctly, that you're searching for topics that can be enhanced in the documentation? If so, I would love an example of how to use Upcasting. At the moment only the structure is described, but now how you would actually configure it. For example: If I create an upcaster, will it just be used automatically because of the interface used or do I have to connect it to the n

[2019-10-05 13:06] frankdejonge commented on #67
@christian-kolb the idea would be to get PR's with documentation, but idea's are also welcome!

[2019-11-20 15:43] #67 closed

[2019-11-20 20:01] frankdejonge commented on #47
Although it's an interesting topic, I'll close this issue for now. This library allows you to account for this, but it can't solve it for you. Can be re-opened for discussion upon request.

[2019-11-20 20:01] #47 closed

[2019-11-21 23:31] burzum commented on #57
@mdwheele support for http://eventstore.org

If anyone who wants to team up with me for a coding session, I think this can be done with a few hours. I just lack any experience of event sauce but would like to give it a try with eventstore.org.

[2019-11-22 13:08] burzum commented on #40
@dilab this should be pretty easy to do using the CakePHP ORM. Take a look at the doctrine adapter and what it does, you just need to adept this to CakePHP.

[2019-11-28 15:58] christian-kolb opened #73 "Unexpected Exception in `->when()`"
When using the test helper `->when()` there is a separate method `->expectToFail()`. But there is no opposite of it.

Any exception that is thrown in the events in when will just be caught in `AggregateRootTestCase`:

[code]

This way when using asserts on the retrieved aggregate root the values will just be wrong but I don't know about a failing command. Am I missing something or is there now way

[2019-12-05 05:09] simensen commented on #57
@burzum Do you have a lot of experience with Event Store, then? My Event Store experience has been pretty minimal but I'd love to learn more about it.

[2019-12-05 10:37] christian-kolb commented on #73
@frankdejonge The longer I'm working with this library the happier I am 🙂 Thanks for your work here.
I would like to provide a pull request for this feature. But with the current setup I'm not really sure how I could implement that without breaking your current setup and handling of the `coughtException`. If you could point me in a direction you would like to have this setup, then I would provide

[2019-12-07 14:43] frankdejonge commented on #73
@christian-kolb Hi :) sorry for the late reply. I've joined a new company, first couple months is always a bit of a hectic period. In the `EventSauce\EventSourcing\Integration\TestingAggregates\ExampleAggregateRootTest::not_expecting_exceptions` test case you can see the tests for what is expected to happen when you're not expecting an exception. The "after test" assertions are ensuring that if th

[2019-12-08 14:58] christian-kolb commented on #73
@frankdejonge No problem at all, thanks for your reply. I think I'm talking about a different issue. When my tests run and I'm expecting that there is no exception, it's possible that one of them throws one but nothing happens. If I don't test the values of the aggregate afterwards I don't see that there was an exception without the command because it's caught. Although through your answer I might

[2019-12-08 15:59] frankdejonge commented on #73
I’m not really sure what you mean 😅 Could you provide an example perhaps?

[2019-12-08 16:17] frankdejonge commented on #73
Btw: I always use my command handling setup in my testcase, commandbus setup and all.

[2019-12-08 18:34] christian-kolb commented on #73
In your documentation you have the following example:

[code]

Which is basically the same content I would have in a command handler. So I replicated the command handler in the TestCase but forgot to add the following part (which I have in my command handler):

[code]

How does your TestCase look?

[2019-12-11 15:24] burzum commented on #57
@simensen I wrote a complete event sourcing library for it using the https://github.com/prooph/event-store-client library to connect to it. It is not yet open source, I need to talk to my boss about open sourcing it. Sadly I just discovered event source after I was done with it. :( For whatever reason event sauce is pretty far down on the result page on google and it shows a video not a link as fi

[2019-12-21 10:12] frankdejonge commented on #73
@christian-kolb in my setup I use just use the commandbus and handlers. So it's a full component that I'm testing, not just the aggregate itself.

[2019-12-21 15:50] christian-kolb commented on #73
Ah sorry, now I get it. You don‘t use the setup as described in your documentation. I didn’t consider that as an option 😄
Thanks for the reply and have a nice Christmas time 🙂

[2019-12-21 15:51] #73 closed

[2020-02-11 13:42] bashilbers opened #78 "PointInTime date form and MariaDB"
Hi,

I am using MariaDB 10.4.11 and it does not support the timezone identifier in a Datetime column. The PointInTime class used in this project is final and always adds the timezone as seen here: https://github.com/EventSaucePHP/EventSauce/blob/master/src/PointInTime.php#L14

Any suggestion on what type of column to use then?

I'd like to be able to only have date, time and microseconds.. timezon

[2020-03-02 17:09] arendjantetteroo opened #80 "Passing aggregateRoot to $snapshotRepository->persist(Snapshot $snapshot)"
We finally got around to upgrade to 0.7 and use the new snapshotting functionality.
I like the new implementation, thanks @frankdejonge

In our previous homegrown snapshot implementation we stored the aggregate type and code version of the aggregate so we could easily remove previous/outdated snapshots in our database.

The eventsauce docs describe it on the snapshot page as well:
"Versioning Snap

[2020-03-02 17:58] nicholasruunu commented on #80
You could pass your `$aggregateClassName` to your SnapshotRepository and keep your aggregate code version in a public class constant. I'm not sure why you'd need to keep the `aggregate_type`, but you'd have both with that option.

If you already have one SnapshotRepository per aggregate you could just straight up use the class constant from the aggregate class.

[2020-03-02 18:15] arendjantetteroo commented on #80
Thanks for the answer.
I have both `$aggregateClassName` as the AggregateRoot itself in my aggregate repository class where the `storeSnapshot` method is handled.  As the root already has this public class constant, i just pass the aggregate root.

[code]
Alternatively i can do
[code]

We currently have 1 collection for all snapshots, so having the type (which is the classname) allows us to just d

[2020-03-02 19:05] frankdejonge commented on #80
Hi @arendjantetteroo,

The way I do this myself is similar to how the aggregate root repository knows the aggregate root classname. The snapshot implementation knows about the type of aggregate and the version of the snapshot "schema". So you can pass it as a constructor argument, or reference a constant from the aggregate, it doesn't _really_ matter much. The version will only change when there's

[2020-03-02 19:25] arendjantetteroo commented on #80
Cheers @frankdejonge!

I currently just have 1 snapshotRepository for all my aggregates, so the constructor route was not the first thing that came to mind. But it makes total sense to do it that way.

It definitly is flexible enough for us to adapt to our use cases, but we would like to keep as close to the "source" as possible to avoid any issues when the eventsauce library changes/improves.
We

[2020-03-03 10:08] nicholasruunu commented on #80
In Symfony you can bind your implementations by parameter name and interface:
https://symfony.com/blog/new-in-symfony-4-2-autowiring-by-type-and-name

If you want to typehint concrete classes I would do something like:
[code]

If you want to do it in an abstract way, you could do:
[code]

Set the methods to final until you need to override them.
Now you only need to implement `aggregateClassName()

[2020-03-03 11:22] arendjantetteroo commented on #80
Sweet, thanks @nicholasruunu and @frankdejonge for the extended answers, much appreciated, i will try that.

[2020-03-05 11:57] arendjantetteroo commented on #80
Works great.

Shall I close the issue or should this be added somewhere to the docs?

[2020-03-05 17:29] f7n opened #82 "Aggregate Root Version always set to 0"
I'm applying a rename event to an item persisted in the DB with aggregate root version of 2, however EventSauce is setting the next version to 0. I've found the cause (I guess) is line 83 in file `AggregateRootBehaviour.php`

[code]

**`$aggregateRoot->aggregateRootVersion = $events->getReturn() ?: 0;`**

Doing a dump of `$events->getReturn()` is giving `null`, so the aggregateRootVersion is set t

[2020-03-09 13:47] arendjantetteroo commented on #82
Take a look at this document.
Your messages should return the version number from the generator. https://eventsauce.io/docs/upgrading/to-0-7-0

function getMessages(AggregateRootId $id): Generator
{
  foreach (fetchFromStorage($id) as $row) {
     yield convertRowToMessage($row);
  }

  return isset($row) ? $row['version'] : 0;
}

[2020-03-09 14:35] frankdejonge commented on #82
@f7n hi, I think @arendjantetteroo is correct. Can you check that?

[2020-03-09 18:37] f7n commented on #82
@frankdejonge @arendjantetteroo Thanks for the help. In my implementation of the
MessageRepsitory interface I have a `retrieveAll()` method:

[code]

But I do not have getMessages. Should I implement it here? Can I ask what is `fetchFromStorage()` and `converRowToMessage()`

Btw I am following the Astrocasts video series on this Frank, if you are familiar.

[2020-03-09 18:45] frankdejonge commented on #82
@f7n you can convert it to this which should do the trick for you:

[code]

[2020-03-09 18:53] f7n commented on #82
Thank you @frankdejonge This worked and saved me a lot of stress :)

Cheers for the library.

[2020-03-09 18:53] #82 closed

[2020-03-09 19:07] frankdejonge commented on #82
You're welcome @f7n! And @arendjantetteroo, thank you for contributing with information and helping ot 👍

[2020-03-09 19:10] frankdejonge commented on #78
Hi @bashilbers,

If your dates are always in UTC then storing them as such is fine. You can use the $pointInTime->dateTime() getter to retrieve the underlying date-time and format that according to your needs. I'd just go for the datetime column without the timezone in your case.

[2020-03-09 19:10] #12 closed

[2020-03-18 07:12] #78 closed

[2020-03-28 09:35] frankdejonge commented on #80
I think we can close this issue, but feel free to contribute a docs section that would have helped you 👍

[2020-03-28 09:35] #80 closed

[2020-04-15 14:09] patrickkusebauch commented on #57
@ahmed-alaa @burzum I think I have a solution for both of you guys. I have spent an afternoon and wrote an adapter between `EventSauce` and `Prooph/event-store`. It allows for  `AggregateRoots` and `Events` created in `EvensSauce` to be store in any `Prooph/event-store` implementation.
 - [Different database structure](https://eventsauce.io/docs/advanced/database-structure/) can, therefore, be han

[2020-04-27 07:28] ahmed-alaa commented on #57
@patrickkusebauch I'll give it a try.

Currently, I'm using Prooph EventStore and long time ago, thought about this combination of EventSauce and Prooph EventStore with its strong persistence and projections part, but I had doubt about maintaining both packages and always have to make sure that any update in one of them is compatible with the other package.

but will check your repo and give it it

[2020-05-25 16:14] michael-schaefer-eu opened #87 "Docs - navigation buttons"
Hi,

I think it helps to read documentation pages faster if they have `next` and `back` navigation buttons on each page at the end.

Is it possible to add such buttons?

[2020-10-08 08:35] yourwebmaker commented on #14
I'm currently working on this project: https://github.com/yourwebmaker/cqrs.nu-php which in the end can be forked or referred on the documentation as an example.

[2020-11-23 11:40] azngeek opened #99 "Example implemantation custom repository does not use AggregateRootId as object"
According to https://eventsauce.io/docs/advanced/custom-repository/ the example implementation should use an string. But it looks like that aggregateRootId is an object or should be an object when following this guide: https://eventsauce.io/docs/event-sourcing/create-an-aggregate-root/

[code]

[2021-01-07 14:28] simsim2006 opened #105 "Shouldn't events be applied after event recorded"
https://github.com/EventSaucePHP/EventSauce/blob/d03a64926e1a8aec33f83b6e0a36f1eef095b34a/src/AggregateRootBehaviour.php#L56

Hello,

I'm facing an issue when a child aggregate needs to record its own events at instantiation.

Let's take the following exemple:

[code]

 and

[code]

When i test this with a BDD approach, i'm expecting this:

[code]

but i got this

[code]

I noticed that to fix it,

[2021-01-07 18:09] frankdejonge commented on #105
@simsim2006 Hi, thank for providing feedback to this repository. While I see the effects of your case, there is something wrong with this implementation, which is: your event application has a side effect. If you reconstitute your model, every time you do so, this ChildCried event will be recorded, which is no longer a recording of an actual domain event, it's an (incorrect) side-effect of your se

[2021-01-17 10:27] mvriel opened #108 "Date Time Format's Timezone in PointInTime is not accepted by MySQL"
While using this library, I ran into the issue that, when I use the Doctrine Message Repository, persisting events fails because MySQL fails to accept the Date Time format.

After verifying this, I found that the DATE_TIME_FORMAT constant in the PointInTime class uses `O` as the timezone format (`+0000`)  instead of `P` (+00:00). When I change this, inserting events in MySQL works, and the MySQL d

[2021-01-17 10:38] frankdejonge commented on #108
Hi @mvriel,

I think this is a MySQL 8 breaking change. The input for this field is influenced by the PointInTime class, which has a specific format which used to be 1:1 translatable to MySQL input but is no longer. There are a couple of ways to solve this.

1. *Change the PointInTime format*<br/>This requires a release. The PointInTime will be removed in 1.0 in favour of a Non-wrapped DateTimeImm

[2021-01-17 20:14] mvriel commented on #108
@frankdejonge Wouldn't it be equally possible to create my own `MySql8HeadersDecorator`; that does the same as the DefaultHeadersDecorator but instead, use the pointInTime's `format` method to use a MySQL8 compatible version?

[2021-01-17 20:23] mvriel commented on #108
Ah, never mind. I just spotted the use of the Point In Time's `fromString` method in the Message's timeOfRecording method. The fromString method also uses the 'problem' constant.

[2021-01-20 11:29] patrickkusebauch opened #109 "`AggregateRootBehaviourWithRequiredHistory::reconstituteFromEvents` is incompatible with `AggreagateRoot::reconstituteFromEvents`"
I am not really sure how to reconcile this issue, but the Trait throws `InvalidAggregateRootReconstitutionException`, however, the interface explicitly states that the method does not throw any exception.

This makes development very difficult for several reasons:
 - Static analysis tools are confused
 - IDE does not hint that an exception will be thrown
 - It is difficult to recognize when callin

[2021-01-25 21:43] frankdejonge commented on #109
I'll have a think about it. I personally don't use the required history and adding a method specifically for this seems a bit overkill. An option could also be to wrap the AggregateRootRepository into something that DOES hint it can through this, would that work for you?

[2021-01-25 22:05] patrickkusebauch commented on #109
I feel that the root of the problem is that:
[code]
in `AggregateRootRepository` does not return `?object`. This would be the behavior I would expect (and have seen) for pretty much any Storage system.

If I ask for something and it does not exist, let me know. right now it **auto-magically** will create it. This might be intended behavior for some cases, but it is IMHO very non-intuitive. And it

[2021-01-25 22:15] patrickkusebauch commented on #109
and if you feel like having only one `ConstructingAggregateRootRepository`, you could even template it like this:
[code]

[2021-01-25 22:19] patrickkusebauch commented on #109
In terms of BC breaks:
 - functionally it is the same (at runtime, the same output for the same inputs as the old code)
 - `ConstructingAggregateRootRepository` is final, so more constructor parameters are OK
 - The SA is very different. However, for the 2 most widely used (Psalm and PHPStan) it would just ask for type hints if the repository is assigned to a variable or being a return type.

[2021-02-05 21:00] HellPat commented on #109
Related to https://github.com/EventSaucePHP/EventSauce/issues/48
There is a detailed explanation.

[2021-03-21 20:30] sandervanhooft opened #112 "Recommendations? Composer psr-4 skipping yml files"
Hi @frankdejonge et al,

Since I'm on composer v2 it skips the `commands_and_events.php` files because it `does not comply with psr-4 autoloading standard.` That's technically a correct error as the file defines multiple classes.

Any recommendation on how to handle this? I expect more people are or will be running into this.

I've tried loading the file using composer's `files` directive, but no

[2021-03-21 20:30] sandervanhooft commented on #112
(I ran `composer du`)

[2021-03-21 20:31] frankdejonge commented on #112
@sandervanhooft have your tried classmap?

[2021-03-21 20:32] sandervanhooft commented on #112
yes, no luck there either yet. Not completely sure yet what I should put in there in this case tbh

[2021-03-21 20:36] sandervanhooft commented on #112
Hang on, I think you're right

[2021-03-21 20:36] frankdejonge commented on #112
I've just created a bunch of random classes in a file and required it using the `autoload.files`, and I can autoload them just fine on composer 2.0.11.

[2021-03-21 20:38] sandervanhooft commented on #112
`autoload.classmap` seems to do the trick here

`autoload.files` doesn't somehow

[2021-03-21 20:38] sandervanhooft commented on #112
(also on composer 2.0.11 here)

[2021-03-21 20:39] frankdejonge commented on #112
That's weird, the autoload.files should just always be loaded. There shouldn't be any difference between composer 1 and 2 here since it's always used for loading functions... very strange

[2021-03-21 20:40] sandervanhooft commented on #112
So this works:

[code]

[2021-03-21 20:41] sandervanhooft commented on #112
Note that `src/Domain` is also used in `autoload.psr-4`, looks to me as if the `autoload.psr-4` runs after the `autoload.classmap` and then decides to skip/remove the files

[2021-03-21 20:43] sandervanhooft commented on #112
So it may be a composer autoloader hierarchy issue

[2021-03-21 20:43] frankdejonge commented on #112
[code]

this works for me

[2021-03-21 20:47] sandervanhooft commented on #112
Still getting the same warnings / skips here... Even after a complete reinstall

`rm -rf composer.lock vendor && composer update`

[2021-03-21 20:48] frankdejonge commented on #112
@sandervanhooft can you share an example repo with me where you experience this issue?

[2021-03-21 20:50] sandervanhooft commented on #112
It's solved when using the classmap

[2021-03-21 20:51] sandervanhooft commented on #112
Let me see if I can whip something up for you

[2021-03-21 21:06] sandervanhooft commented on #112
Here you go:

https://github.com/sandervanhooft/es_composer_issue

[2021-03-21 21:07] sandervanhooft commented on #112
It's using the Laravel wrapper, I don't expect that will be the cause.

Here's my output

<img width="1302" alt="image" src="https://user-images.githubusercontent.com/7265703/111920886-cc745880-8a91-11eb-81ea-738989e6229e.png">

[2021-03-23 21:53] frankdejonge commented on #112
@sandervanhooft ah now I understand what you meant. Then yeah, this is expected behaviour and the class-map is the solution. Your issue didn't specify during which operation it skipped the files and it seems your installation is configured to optimise the autoloader always (https://github.com/sandervanhooft/es_composer_issue/blob/main/composer.json#L28), so when I dumped it didn't give me this mes

[2021-03-24 09:11] sandervanhooft commented on #112
`"optimize-autoloader": true,`

Oh my that's a nifty little bugger.

That's standard Laravel boilerplate. Good to be aware of this. Thanks!

[2021-03-24 09:11] #112 closed

[2021-03-24 20:17] sandervanhooft commented on #108
I just ran into the same issue here: https://github.com/EventSaucePHP/LaravelEventSauce/issues/25

@mvriel How did you end up solving this? I expect more people are/will be running into this problem.

[2021-03-29 18:50] driesvints commented on #40
We're probably not going to build this ourselves. But feel free to explore this yourself 👍

[2021-03-29 18:50] #40 closed

[2021-03-29 19:02] driesvints commented on #87
Sure, feel free to PR something 👍

[2021-03-29 19:02] #87 closed

[2021-03-29 19:04] #57 closed

[2021-03-29 19:06] driesvints commented on #99
Heya, I think the example has changed in the meantime. Feel free to send in a PR to the docs if you spot an issue 👍

[2021-03-29 19:06] #99 closed

[2021-03-29 19:07] #105 closed

[2021-03-29 19:25] frankdejonge commented on #108
Hi all 👋

For the current version it's best to copy and paste the repository and modify it in place. I'm working on v1 which will remove the PointInTime class and just work with DateTimeImmutable instances directly. I'll create a way to format the date time string in the next version of the repository. I'll close the issue for now because from this perspective the change isn't technically needed o

[2021-03-29 19:25] #108 closed

[2021-03-29 19:26] driesvints commented on #109
This will be fixed in v1.0. Thanks all.

[2021-03-29 19:26] #109 closed

[2021-03-29 19:27] #13 closed

[2021-03-29 19:27] #14 closed

[2021-05-19 22:55] elazar opened #124 "The..."
... what?

https://github.com/EventSaucePHP/EventSauce/blame/cfbec4407728ca0263b4225ea7e001deb5c0f956/docs/docs/index.md#L53

[2021-05-20 06:42] #124 closed

[2021-05-21 03:07] elazar opened #125 "Default JSON-based serializer?"
See https://github.com/EventSaucePHP/EventSauce/blob/main/docs/docs/architecture.md#message-serializer.

This no longer appears to be the case? At least, a search of the codebase has no mention of JSON.

[2021-05-21 09:28] driesvints commented on #125
Hey @elazar. Thanks for mentioning that. I've sent in a PR for Frank: https://github.com/EventSaucePHP/EventSauce/pull/126

[2021-05-21 09:28] #125 closed

[2021-08-17 14:59] shadowhand opened #138 "Doctrine MessageRepository appears to have no upgrade path"
I am upgrading to EventSauce 1.x and was prompted to switch to [MessageRepositoryForDoctrineV2][1], which is fundamentally incompatible with the old `DoctrineMessageRepository` due to [this method][2].

I cannot comprehend why using a binary UUID is preferable to a true UUID type, except for the people using MySQL/MariaDB. There does not appear to be any documentation for this change, nor any sugg

[2021-08-17 15:19] frankdejonge commented on #138
Hi @shadowhand,

Sorry to hear this change has downsides for you. There are a number of things we can do to remedy this. We can either make the method protected, which would allow you to run your own serialisation strategy for this value. We could also make use of a strategy pattern where we allow an optional constructor arguments with a UuidSerializer interface, of which one would be to use a Pla

[2021-08-17 15:37] shadowhand opened #139 "Message::withHeader() no longer allows array value"
Trying to upgrade to EventSauce 1.x and discovered that [Message::withHeader][1] no longer accepts an array as a value, which is not mentioned in the upgrade documentation and seems to be an arbitrary restriction, given that an `array` can be encoded to JSON without issues. Before [typing was added][2], this method had a [mixed type][3] and worked with arrays. As such, I believe this is a regressi

[2021-08-17 15:38] frankdejonge commented on #139
Hi, we can widen this :)

[2021-08-17 15:43] shadowhand commented on #138
Yes.

I do not agree with that statement, because:

1. One cannot copy/paste a UUID and use it to search the database.
2. Binary storage is actually less optimized for MySQL/Maria InnoDB, but there is a [recommended solution][1].

[1]: https://www.percona.com/blog/2014/12/19/store-uuid-optimized-way/

[2021-08-17 15:45] #139 closed

[2021-08-17 15:45] frankdejonge commented on #139
Hi @shadowhand, please check if the change in `main` fixes your issue.

[2021-08-17 15:47] shadowhand commented on #138
Alternatively, the MySQL `BIN_TO_UUID` and `UUID_TO_BIN` functions could be used to ease this pain point for MySQL/Maria users. As you can tell, I find it frustrating that a general purpose implementation is catering to the lowest common denominator (MySQL/Maria).

[2021-08-17 15:48] frankdejonge commented on #138
This functions only exist in MySQL 8, the 5 range is still very widely in use.

[2021-08-17 20:57] shadowhand commented on #138
@frankdejonge would you accept a PR to https://github.com/EventSaucePHP/MessageStorage (and the split repository) that creates a `MessageRepository` implementation that is compatible with the pre-1.0 `DoctrineMessageRepository`?

The current implementations (DBAL 2.x and 3.x) could be combined into a single implementation that depends on `doctrine/dbal ^2.11`, where the new forward-compatible API

[2021-08-18 07:35] frankdejonge commented on #138
Hi @shadowhand,

Would that be an additional sub-split or a repository per current sub-split package? As for the 2-3 split, I think keeping it the way is easier for deprecation of v2 compatibility later on.

[2021-08-18 11:52] shadowhand commented on #138
It would be one split because v2 deprecation isn't necessary if the forward compatibility (non deprecated) methods are used.

[2021-08-18 12:05] frankdejonge commented on #138
I think we're talking past each other a bit. I'm asking wether these implementations should or could be part of the current packages, so they each ship with their current and one backwards-compatible one which could totally be an option. The alternative would be to publish a separate package for the BC maintaining implementation. As for the v2 v3 support, I understand that from 2.11 on out you can

[2021-08-18 14:19] shadowhand commented on #138
What benefit does deprecating v2 have when v2.11+ and v3.0+ have the same API?

I have already started working on a new class that would be part of `eventsauce/message-repository-for-doctrine` that would support both v2 (2.11+) and v3 (3.0+) and allow for backwards compatibility with `eventsauce/doctrine-message-repository`.

[2021-08-18 14:24] frankdejonge commented on #138
Those versions are kept in sync best effort, in case there are inconsistencies, or support for v2 is dropped I can drop support for it too by abandoning that version. In the case of security issues later down the line it's clearer what depends on what. Additionally, not every major version has that upgrade path, I think it's great for application but not a good default strategy for dependant packa

[2021-08-18 14:43] shadowhand commented on #138
There are 3 calls to `Connection` in my version:

[code]

In my opinion, this is a small enough surface area that supporting `^2.11 || ^3.0` is very low risk. Not to mention that having 1 package instead of two to maintain is less burden and less likely to produce discrepancies.

[2021-08-18 14:44] frankdejonge commented on #138
I'll happily take on that burden :) if you submit a PR for either version I will distill the other from it and manage the releases.

[2021-08-18 16:20] shadowhand commented on #138
@frankdejonge PR created.

[2021-08-19 20:20] #138 closed

[2021-10-27 20:30] jeffagostinho opened #142 "Doubt about aggregate root version"
When I have multiple connections in my app `ab -n100 -c100 -t5 http://localhost/...` I noticed that the aggregate version behavior is lost

In the collection, several records are created with the same version

Is this expected or could it be an implementation issue?

I'm using version 1.2 of the package

[2021-10-28 22:11] #142 closed, assigned to nobody

[2021-11-08 19:50] justageek opened #144 "Isn't replaying domain message events by default slow as hell"
As the list of events grows for an aggregate root, just loading the aggregate root and having all those events replayed is just going to get slower and slower.  If I am missing something please help me understand.

[2021-11-08 20:03] frankdejonge commented on #144
Not really, firstly because PHP is blazing fast. But, even when you're slowing down (and I'll promise you it's not as early as you might think), there is a thing called [snapshotting](https://eventsauce.io/docs/snapshotting/) which effectively allows you role a set of events into a combined state and use that as a starting point. In general it's more of a mental safety net than there is the actual

[2021-11-08 20:34] justageek opened #145 "Examples of persisting snapshots to a database"
The only example of a snapshot repository you provide is InMemorySnapshotRepository.  Where can we find an example of how to persist the snapshot to a database, does a simple serialize(), unserialize() work for the Snapshot object?

[2021-11-08 20:36] justageek commented on #144
Thanks for the reply, I only ask because in my limited use of the tools it seems we do already notice loading older aggregates roots is slower than newer ones, although it is hard to measure in our environment.  There are any number of reasons why it is slower I'm sure.  I would love to see an example of persisting a snapshot to mysql, in case we need to set that up.

[2021-11-08 20:37] frankdejonge commented on #145
I don't have a public example for that, however. Any key-value store will do. Traditional SQL databases also work fine.

[2021-11-08 20:42] frankdejonge commented on #144
You can checkout the interface provided by the library, it's difficult to imagine what a MySQL implementation would look like.

[2021-11-08 20:46] justageek commented on #144
The aggregate root in question has 12,000+ domain messages, so what number would you consider large enough to slow things down?

[2021-11-08 20:51] frankdejonge commented on #144
That's a sizeable amount, although there are cases where even up to 50k you'd still have an acceptable latency. It very much depends on the infrastructure of course and what your latency limits are. Do you have a domain where there is a natural snapshot? In finance you have things like closing the books on a year, which can act as a natural cut-off point and snapshot payload. How much is your case

[2021-11-08 21:05] justageek commented on #144
The scenario is a merchant running credit card transactions for a stored customer, and this merchant has been a round for a while, so it definitely has double the time it takes to load the merchant and run a transaction.  I also realize that the underlying code in the aggregate root could be part of the problem, I inherited this code base and will not claim they used your library in a good way.  T

[2021-11-08 21:10] frankdejonge commented on #144
Are they using the aggregate root for display purposes? I usually only store the information needed for the next decision, I doubt they need to re-hydrate the full transaction history to do that. Additionally, I think they probably choose the wrong aggregate root. I tend to limit my aggregate root to what needs internal consistency. I don't expect such far stretching consistency to be needed. I wo

[2021-11-08 21:25] justageek commented on #144
I do think it was done poorly, and no it doesn't get used for display, but I think a crap ton of stuff was piled into this one aggregate root which doesn't belong, like all the customer stuff should be its own agg root.  the merchant stores collections of customers, custom data field definitions (these are used to customize the transaction form), a different thing called info fields, similar to cu

[2021-11-08 21:57] frankdejonge commented on #144
Oh wow, yeah. They basically overloaded that single aggregate with a TON of responsibilities. In general it's better to model things as processes and look for consistency requirements during those processes. If there are no consistency requirements across several of the processes it's better to split them. Sounds like you've got your work cut out for you. A benefit is that you can decorate your me

[2021-11-08 22:03] justageek commented on #144
What do you mean by "decorate your message storage", sorry if that is a basic question.

[2021-11-08 22:07] justageek commented on #144
You are saying to try to write some sort of process that will split merchant logic and data and customer logic and data into 2 agg roots instead of 1?  That sounds daunting for sure, I'm not sure I'd even know where to begin.

[2021-11-08 22:36] justageek commented on #144
Also do you think it is fairly straightforward to "convert" an existing aggregate root class to one with snapshots, but changing its interface and adding the new snapshot methods that are needed?

[2021-11-09 07:55] frankdejonge commented on #144
I had a night of sleep in between :)

The decoration suggestion would be to compose a repository that reads from old and new while you migrate. Pseudo code would look like this:

[code]

[2021-11-09 17:23] justageek commented on #144
Thanks very much for all your input, I guess I have one basic question, is event sourcing useful in a single monolithic application, or is it only really helpful where you are using a message broker servicing multiple microservices.  We are pretty much a monolith and I don't think it is really providing us with any benefits at this time.

[2021-11-09 19:38] frankdejonge commented on #144
It's useful in many cases and is not limited to mircroservices or monoliths. The cases where it's especially useful is in business processes that are not crud, and things where change over time is an aspect., which is usually the case for any process modelling. If the model is effectively storage only or there is not a lot of interesting events you often get ThisWasCreates/Updated/Deleted events w

[2021-11-15 18:58] renatocosta opened #146 "Aggregate root"
Hi,

Is there another way to apply events outside the aggregator?

For example, using a handler class instead applyProcessStarted method.

Best,

[2021-11-15 19:06] renatocosta commented on #146
Thanks.
Is there any example of that?

Best,

[2021-11-15 19:07] frankdejonge commented on #146
Not that I know of.

[2021-11-15 19:07] #146 closed

[2021-11-16 21:45] renatocosta opened #147 "Projections"
I will have a new challenge to get started soon.
The idea is to implement the event sourcing in Monolith so we can upstream their data to a new service.
I think that projection can be used as a contract in between.
What Do you think about it?
I would like to hear your thoughts.

[2021-11-20 20:55] renatocosta opened #149 "Structure table"

[2021-11-22 16:45] #149 closed

[2021-11-22 16:46] #147 closed

[2021-11-22 16:46] #144 closed

[2021-12-05 13:00] andrzej-pakula opened #150 "Suggest snapshotting change"
Hi :)

Event Sauce is great!
I've got two things.
First, the snapshot documentation is a bit inconsistent.

In [page](https://eventsauce.io/docs/snapshotting/setup/) in the example is:

[code]

Best regards. Andrew

[2021-12-13 20:13] andrzej-pakula commented on #145
Hi. Here is an example. In my implementation, state must be an object.

[code]

[code]

[code]

[2022-01-03 16:07] patrickkusebauch opened #151 "AggregateRootBehaviour should have a template on AggregateRootId"
That way you could do:
[code]

And tie the aggregate root with the type of ID it uses.

[2022-01-03 19:11] frankdejonge commented on #151
I think that's a great idea 👍

[2022-02-08 14:07] frankdejonge commented on #150
Ah yes, this is a documentation issue. Thanks for raising it 👍

[2022-02-08 16:01] andrew-pakula commented on #150
:+1:

[2022-02-13 13:48] olleharstedt opened #160 "Use lambdas insterad of command objects?"
Quick question, but is it possible to push lambdas or closures onto the command queue instead of command objects?

[2022-02-13 14:35] frankdejonge commented on #160
@olleharstedt it's possible, but I wouldn't recommend it. Message based architectures are all about communication and letting actors respond to commands or requests or events. Passing logic or behaviour around is quite in opposition of that. But since EventSauce doesn't ship with command infrastructure, you can do what you like of course.

[2022-02-13 16:04] olleharstedt commented on #160
Ah. I'm looking for a more lightweight way to remove side-effects from business logic, and I was thinking an event queue would fit. I'll keep looking. :) Thanks.

[2022-02-13 17:15] frankdejonge commented on #160
An event queue would fit, but the logic should be in the consumer, not the payload

[2022-02-17 07:36] frankdejonge commented on #151
Closing this since it's not an issue and the request is OK'd, I just don't have the drive to do this myself.

[2022-02-17 07:36] #151 closed

[2022-05-12 18:46] andrew-pakula opened #173 "DefaultHeadersDecorator order parameters deprecated"
Hi,

The order of the parameters in the **DefaultHeadersDecorator** is deprecated.
My console shows warnings about that .

See - https://php.watch/versions/8.0/deprecate-required-param-after-optional

Best Regards.

[2022-05-12 19:51] frankdejonge commented on #173
@andrew-pakula hi! Can you share the warning from the console? From what I can see there are no required parameters in that constructor, so I'm curious what the actual error says.

[2022-05-12 19:58] andrew-pakula commented on #173
See an issue: https://github.com/symfony/symfony/issues/46208#issuecomment-1112580716
This should explain all of that

[2022-05-12 20:14] frankdejonge commented on #173
@andrew-pakula I see the error, but I think the deprecation error is a bug on PHP's side. That parameter is not required.

[2022-05-12 20:43] andrew-pakula commented on #173
PHP 8.1

n0rbyt3 has written **Since your last parameter is an instance variable, it is treated as a required parameter (even if it has a default value!)**

I understood it like that $timeOfRecordingFormat is required even if it has a default value, becouse it  is an instance variable.

[2022-05-28 13:47] frankdejonge commented on #173
This was fixed in the last release :)

[2022-05-28 13:47] #173 closed

[2022-07-26 11:59] evolic opened #178 "Move all tests to separate folder tests"
At first I would like to tell that you made a great job with your EventSauce project.

I am completely new to this project and I would like to advise one big change it the code: to separate all unit tests to new directory `tests` (at the same level as `src` is):

[code]

The benefits can be really obvious:
* better code reading experience,
* better code structure,
* smaller number of files in `src

[2022-07-26 12:25] frankdejonge commented on #178
Hi :)

I prefer to have it together to limit context switching. I know some people don't like it, but I like it a lot more.

[2022-07-26 12:31] andrew-pakula commented on #178
It makes sense. Makes test coverage easier, but reduces readability.

[2022-07-27 14:29] Toflar opened #179 "Reconstituting a specific version"
Hey Frank

First of all, let me say thank you for this library and all the other OSS stuff you do! I've just started using EventSauce and I'm starting to get familiar with all the concepts. I love all the flexibility and the way you focussed on providing the building blocks so I can do whatever I want myself :) Great stuff! ❤️

One thing I'm missing from the `AggregateRootRepository` is to retriev

[2022-07-27 14:49] frankdejonge commented on #179
Hi @Toflar :)

This functionality is currently not included in EventSauce. The main reason for this is that an aggregate root is responsible for making decisions and should do that based on the latest info. Going back into history is something that would be possible by making using read-models that directly read from the message repository.

Perhaps you can explain what specific case you're trying

[2022-07-27 14:56] Toflar commented on #179
I see your point. It really is a read operation so it should probably indeed not be part of the aggregate.
Basically I'm working on some POC for a general content repository to store whatever content. If you check my OSS contributions on GitHub you can kinda guess where I'm coming from 😉 We're talking CMS stuff here.
And I think a typical use case would be a user that wants to compare the current

[2022-07-28 06:23] frankdejonge commented on #179
The idea would be that the projection would resolve the messages from the repository when asking for the state at a given point in time, so no need to pre-compile it for every step. Basically it would be as expensive as loading two aggregate roots, which should be quite alright.

[2022-07-28 08:21] Toflar commented on #179
Yep, that's what I did now and it works perfectly 😉 Thanks!
Since the EventSauce docs are so well written, what do you think of an FAQ section for questions like this? I could of course contribute 😊

[2022-07-28 08:22] frankdejonge commented on #179
Awesome, yes. We can can create a section for case studies, or common problems with solution. Contribution would be much appreciated.

[2022-07-28 17:49] Toflar commented on #179
https://github.com/EventSaucePHP/EventSauce/pull/180 :)

[2022-07-28 17:50] frankdejonge commented on #179
I'll consider this fixed with the addition of the documentation :)

[2022-07-28 17:50] #179 closed

[2022-07-28 17:51] Toflar commented on #179
Defintely, thanks!

[2022-07-29 11:25] #178 closed

[2022-08-28 20:08] #145 closed

[2022-08-31 20:54] pimjansen opened #185 "Missing "id" reference in docs"
I was check the docs and i notice an odd difference but im not 100% sure it is valid or not. There is table schema defined in the docs:
https://eventsauce.io/docs/message-storage/repository-table-schema/

When reviewing the `DoctrineUuidV4MessageRepository` it seems that the `DefaultTableSchema` has a reference to an `id` field which is not in the schema definition. Problem is that i am not 100% s

[2022-09-01 06:20] #185 closed

[2022-09-01 06:20] frankdejonge commented on #185
Thanks @pimjansen 👍

[2022-09-16 12:45] lavernyer opened #188 "DoctrineOutboxRepository reserved words escaping"
DoctrineOutboxRepository and some other Doctrine specific EventSauce classes are using backticks in sql statements. Postgresql doesn't support it, instead double quotes should be used.
[code]

[2022-09-22 12:01] frankdejonge commented on #188
Version 0.4.1 of the storage adapters has been tagged which fixes this issue.

[2022-09-22 12:01] #188 closed

[2022-10-13 09:52] thomasschiet commented on #151
I gave this a shot in https://github.com/EventSaucePHP/EventSauce/pull/194.

[2022-11-04 01:22] Parables opened #197 "Type mismatched... Expected `AggregateRootId` found `AggregateRootIdType`"
This type of mismatch is repeated multiple times.

P.S: I see you are updating the docs, you might want to remove the deprecated stuff too, please. Thanks very much for this amazing library.

[code]